
unset LANG LANGUAGE LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT LC_IDENTIFICATION

export TERM={{ dec_vt_term }}

figlet -c -f lean veteran
figlet -c -f digital 'digital'

#PS1='\u@\h:\w\$ '
